.career-section {
  padding: 10rem 0;
}
.career-section .featured-text {
  padding: 2rem;
}
@media (min-width: 992px) {
  .career-section .featured-text {
    padding: 0 0 0 2rem;
  }
}
.career-section .project-text {
  padding: 3rem;
  font-size: 90%;
}
@media (min-width: 992px) {
  .career-section .project-text {
    padding: 5rem;
  }
  .career-section .project-text hr {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 30%;
  }
}


.career-section .img-logo {
  max-width: 250px;
  max-height: 400px;
}

.career-section .entry {
  min-height: 150px;
}